{{ $data := dict }}
{{ $p := "https://api.vulnerawise.ai/top10.json" }}
{{ with resources.GetRemote $p }}
{{ $data = . | transform.Unmarshal }}
{{ else }}
{{ errorf "Unable to get resource %q" $p }}
{{ end }}

{{ with $data.data }}
{{ range $i, $p := . }}
{{ $id := $p.cve.id }}
{{ $url := replaceRE " " "-" $id | lower }}
<a class="hextra-card group rounded-3xl p-5 sm:p-10 bg-white dark:bg-blue border border-slate-300 dark:border-slate-700 relative overflow-hidden animated"
    href="{{ $url }}">
    <div style="background-image: url('{{ "images/dev/dark_box_lines.png" | relURL }}');"
        class="w-full h-full absolute top-0 left-0 z-0 hidden dark:block"></div>
    <div style="background-image: url('{{ "images/dev/light_box_lines.png" | relURL }}');"
        class="w-full h-full absolute top-0 left-0 z-0 dark:hidden"></div>
    <div class="relative z-10">
        <h3 class="text-black dark:text-white font-poppins font-semibold text-[26px]">{{ $p.cve.id | safeHTML }}</h3>
        <div class="text-slate-700 dark:text-slate-300 font-poppins text-lg my-2">{{ $p.cve.name | safeHTML }}</div>
        <div class="flex gap-y-2 justify-between items-center relative z-10 flex-wrap sm:flex-nowrap">
            <p class="text-slate-700 dark:text-white font-poppins">
                {{ $date := time.AsTime $p.cve.metadata.published_date }}
                {{ time.Format "January 2, 2006" $date}}
            </p>
            <div>
                {{ if eq $p.cve.metadata.severity "Medium" }}
                <div class="border border-style px-2 text-style rounded-full font-poppins">
                    Medium
                </div>
                {{ else if eq $p.cve.metadata.severity "High" }}
                <div class="border border-warning px-2 text-warning rounded-full font-poppins">
                    High
                </div>
                {{ else if eq $p.cve.metadata.severity "Critical" }}
                <div class="border border-danger px-2 text-danger rounded-full font-poppins">
                    Critical
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</a>
{{ end }}
{{ end }}